extends ../layout
block content
  h1= title


  if errors.errors !== undefined
    each messages in errors.errors 
        p=message

  form(method='post')
    p
        label Tytuł
        input(type='text' name='title')
    p
        label Opis
        textarea(name='description')
    p
        input(type='submit' value='Zapis')